.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto 100px auto;

    ul{
        width: 432px;
        height: 25px;
        display: flex;
        justify-content: space-between;
    }

    p{
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
  .footer{
    flex-direction: column;

    img,
    ul,
    p{
        margin-bottom: 30px;
    }
  }
}

@media (max-width: 550px) {
  .footer{
    flex-direction: column;
    font-weight: 500;

    img,
    p{
        margin-bottom: 40px;
    }

    ul{
        height: fit-content;
        margin-bottom: 30px;
        flex-direction: column;
        align-items: center;

        li{
            margin-bottom: 40px;
        }
    }
  }
}