.service-grid{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 50px;
    width: 100%;

    .service-card{
        width: fit-content;
        max-width: 384px;
        height: auto;
        background-color: transparent;
        padding: 20px 40px;

        h2,
        p{
            margin-bottom: 20px;
        }

        img{
            margin: auto auto 20px auto;
        }
    }
}

@media (max-width: 965px) {
    .service-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);       
    }
    
}

@media (max-width: 700px) {
    .service-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }
    
}

@media (max-width: 550px) {
    .service-grid{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 32px; 

        .service-card{
            width: 100%;
            height: auto; 
            padding: 32px 20px; 
        }
    }
}