.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
  
  &-p{
    margin: 24px 0 50px 0;
  }

  &-left{
      width: 50%;
      margin-top: 70px;
  }
}

@media (max-width: 1024px) {
  .hero{
    
    &-left{
      width: 80%;

      h1{
      font-size: 60px;
      }

      button{

        img{
          width: 24px;
          height: 24px;
        }
      }
    }

    img{
      height: 600px;
    }
  }
}

@media (max-width: 830px) {
    .hero{
    display: grid;

    &-left{
      width: 100%;
    }

    h1{
      font-size: 80px;
      line-height: 80px;
    }

    p{
      width: 70%;
    }

    button{

      img{
        width: 24px;
        height: 24px;
      }
    }
  }
}

@media (max-width: 550px) {
  .hero{
    display: grid;

    &-left{
      width: 100%;
    }

    h1{
      font-size: 60px;
      line-height: 100%;
    }

    img{
      height: 400px;
    }
  }
}