nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px calc(100% - 88%) 10px calc(100% - 80%);
    margin: auto;
    top: 0;
    z-index: 12;
    background: rgba(14, 12, 32, 0.4);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
   
    .nav-links {
        width: 532px;
        display: flex;
        justify-content: space-between;

        li {
            cursor: pointer;

            &:hover {
                color: var(--primary-dark);
                transition: color .2s ease-in;
            }
        }
    }

    .nav-btn {
        width: 157px;
        height: 44px;
        background: transparent;
        border: 1px solid var(--text-muted);
    }

    .menu-icon {
        display: none;
    }
}


@media (max-width: 1280px) {
    nav{
        padding: 10px 40px ;

        .nav-links{
            width: 330px;
        }
    }
}


@media (max-width: 780px) {
  nav {

    .menu-icon{
        display: block;
    }
    
    .nav-links{
        display: none;
    }

    .nav-btn{
        display: none;
    }
  }
}

@media (max-width: 550px) {
    nav{
        padding: 10px 20px;
    }
}