nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    margin: auto;
    z-index: 12;
    background: rgba(18, 16, 41, 0.12);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
   
    .nav-links {
        width: 532px;
        display: flex;
        justify-content: space-between;

        li {
            cursor: pointer;

            &:hover {
                color: var(--primary-dark);
                transition: color .2s ease-in;
            }
        }
    }

    .nav-btn {
        width: 157px;
        height: 44px;
        background: transparent;
        border: 1px solid var(--text-muted);
    }

    .menu-icon {
        display: none;
    }
}

@media (max-width: 1024px) {
    nav{
        padding: 0px 40px ;

        .nav-links{
            width: 330px;
        }
    }
}


@media (max-width: 780px) {
  nav {

    .menu-icon{
        display: block;
    }
    
    .nav-links{
        display: none;
    }

    .nav-btn{
        display: none;
    }
  }
}

@media (max-width: 550px) {
    nav{
        padding: 0 20px;
    }
}