.portfolio{
    margin-bottom: 256px;

    &-flex{
        display: flex;
        justify-content: space-between;
    }

    h1{
        font-size: 58px;
        font-weight: 900;
        margin: 150px 0 70px 0;
    }

    .top{
        align-self: flex-start;
    }

    .center{
        align-self: center;
    }

    .bottom{
        align-self: flex-end;
    }
}

@media (max-width: 1024px){
    .portfolio{

        &-flex {
            gap: 24px;
            overflow-x: scroll;
        }
    }
}


@media (max-width: 550px){
  .portfolio{
    margin-top: 80px; 
    margin-bottom: 60px; 
    
    h1{
        font-size: 36px;
        line-height: 150%;
        margin: 0 0 24px 0; 
    }

    &-flex{
        gap: 24px;
        
        img {
            width: 100%; 
            height: auto; 
        }
    }
  }
}